@font-face {
    font-family: "RUNE";
    src: url("./Runethia.otf") format("opentype");
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "RUNE", cursive;
}

body{
    background: radial-gradient(circle at center, #2b0040, #0a0014);
    height:100vh;
    overflow:hidden;
    color:white;
}

.center{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

#tapBtn{
    padding:15px 40px;
    font-size:22px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    background:linear-gradient(135deg,#ff4fd8,#ff8cff);
    color:white;
    box-shadow:0 0 25px rgba(255,120,220,0.6);
}

#textBox{
    margin-top:30px;
    font-size:28px;
    opacity:0;
    transition:1s ease;
}

.fade{
    opacity:1;
}

.poem{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

.poem h1{
    font-size:48px;
    margin-bottom:20px;
}

.poem p{
    font-size:28px;
    line-height:1.6;
}
